# Estrutura de Dados em Python

## Listas

In [8]:
#Criando uma lista chamada Animais
animais = ['Gato', 'Cachorro', 'Peru', 'Leão']
animais

['Gato', 'Cachorro', 'Peru', 'Leão']

In [9]:
#Substituindo a lista
animais = [121, 21]
animais

[121, 21]

In [10]:

animais = ['Gato', 'Cachorro', 'Peru', 'Leão', 121, 21]
animais

['Gato', 'Cachorro', 'Peru', 'Leão', 121, 21]

In [11]:
#Imprimindo o peimeiro elemento
animais[0]

'Gato'

In [12]:
#Substituindo o primeiro elemento
animais[0] = 'Bacalhau'
animais

['Bacalhau', 'Cachorro', 'Peru', 'Leão', 121, 21]

In [13]:
#Removendo um elemento da lista
animais.remove('Peru')
animais

['Bacalhau', 'Cachorro', 'Leão', 121, 21]

In [14]:
#Tamanho da lista
len(animais)

5

In [15]:
#Verificando se o elemento está na lista
'Gato' in animais

False

In [18]:
#verificando os valores máximos e mínimos de uma lista
lista = [120, 222, 87, 1, 100]
print ("valor máximo: ")
max(lista)

valor máximo:

222

In [19]:
print ("Valor mínimo: ")
min(lista)

Valor mínimo:

1

In [20]:
#Adicionando elemento ao final da lista
lista.append('Bixano')
lista

[120, 222, 87, 1, 100, 'Bixano']

In [21]:
#Adicionando mais de um elemento ao mesmo tempo à lista
lista.extend(['joquebede', 69])
lista

[120, 222, 87, 1, 100, 'Bixano', 'joquebede', 69]

In [25]:
lista.remove('joquebede')
lista.remove('Bixano')
lista

[1, 87, 100, 120, 222, 69]

In [26]:
#Ordenando uma lista
lista.sort()
lista

[1, 69, 87, 100, 120, 222]

In [28]:
animais.remove(121)
animais.remove(21)
animais

['Bacalhau', 'Cachorro', 'Leão']

In [29]:
#Ordanando uma lista em ordem alfabética
animais.sort()
animais

['Bacalhau', 'Cachorro', 'Leão']

## Tuplas

In [33]:
#As tuplas usam parenteses como sintaxe
tupla = ('Banana', 'Maçã', 'Goiaba', 5, 2, 3.50)
tupla

('Banana', 'Maçã', 'Goiaba', 5, 2, 3.5)

In [34]:
#As tuplas não mudam, são constantes
tupla[0] = 'Laranja'
tupla

TypeError: 'tuple' object does not support item assignment

## Dicionários
###### (Objetos?)

In [35]:
#Dicionários trabalham com chave: valor
dic = {'Banana':5, 'Laranja': 2.5, 'Goiaba': 3.2}
dic

{'Banana': 5, 'Laranja': 2.5, 'Goiaba': 3.2}

In [36]:
#acessando um elemento pela chave
dic['Banana']

5

In [37]:
#Alterando o valor de um elemento através de sua chave
dic['Laranja'] = 3
dic

{'Banana': 5, 'Laranja': 3, 'Goiaba': 3.2}

In [40]:
#Retornando todas as chaves
dic.keys()

dict_keys(['Banana', 'Laranja', 'Goiaba'])

In [41]:
#Retornando os valores
dic.values()

dict_values([5, 3, 3.2])

In [48]:
#Verificando se uma chave exixte em um dicionario e caso não, inserir
dic.setdefault('Limão', 1.5)
dic

{'Banana': 5, 'Laranja': 3, 'Goiaba': 3.2, 'Limão': 1.5}