# Introdução à biblioteca Pandas

In [2]:
#importando a biblioteca Pandas
import pandas as pd

In [3]:
df = pd.read_csv("./datasets/Gapminder.csv", error_bad_lines=False, sep=";")

C:\Users\vasca\AppData\Local\Temp\ipykernel_3032\4099237253.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("./datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [9]:
#Visualizando as n primeiras linhas
df.head(12)

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
1   Afghanistan      Asia  1957   30.332   9240934  820.853030
2   Afghanistan      Asia  1962   31.997  10267083  853.100710
3   Afghanistan      Asia  1967   34.020  11537966  836.197138
4   Afghanistan      Asia  1972   36.088  13079460  739.981106
5   Afghanistan      Asia  1977   38.438  14880372  786.113360
6   Afghanistan      Asia  1982   39.854  12881816  978.011439
7   Afghanistan      Asia  1987   40.822  13867957  852.395945
8   Afghanistan      Asia  1992   41.674  16317921  649.341395
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
10  Afghanistan      Asia  2002   42.129  25268405  726.734055
11  Afghanistan      Asia  2007   43.828  31889923  974.580338

In [4]:
#Renomeando as colunas
df = df.rename(columns={"country": "País", "continent":"Continente", "year": "Anos", "lifeExp": "Exp de vida", "pop": "População", "gdpPercap":"PIB"})
df

             País Continente  Anos  Exp de vida  População         PIB
0     Afghanistan       Asia  1952       28.801    8425333  779.445314
1     Afghanistan       Asia  1957       30.332    9240934  820.853030
2     Afghanistan       Asia  1962       31.997   10267083  853.100710
3     Afghanistan       Asia  1967       34.020   11537966  836.197138
4     Afghanistan       Asia  1972       36.088   13079460  739.981106
...           ...        ...   ...          ...        ...         ...
3307     Zimbabwe     Africa  1987       62.351    9216418  706.157306
3308     Zimbabwe     Africa  1992       60.377   10704340  693.420786
3309     Zimbabwe     Africa  1997       46.809   11404948  792.449960
3310     Zimbabwe     Africa  2002       39.989   11926563  672.038623
3311     Zimbabwe     Africa  2007       43.487   12311143  469.709298

[3312 rows x 6 columns]

In [13]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [14]:
#Retornando o nome das colunas
df.columns

Index(['País', 'Continente', 'Anos', 'Exp de vida', 'População', 'PIB'], dtype='object')

In [15]:
#Retornando os tipos de dados
df.dtypes

País            object
Continente      object
Anos             int64
Exp de vida    float64
População        int64
PIB            float64
dtype: object

In [16]:
#Retornando as ultimas n linhas 
df.tail(3)

          País Continente  Anos  Exp de vida  População         PIB
3309  Zimbabwe     Africa  1997       46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002       39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007       43.487   12311143  469.709298

In [17]:
#Retornando estatisticas referente aos dados
df.describe()

              Anos  Exp de vida     População            PIB
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [18]:
#Filtrandos dados (retornando apenas dados unicos da coluna X)
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [20]:
americas = df.loc[df["Continente"] == "Americas"]
americas.head()

         País Continente  Anos  Exp de vida  População          PIB
48  Argentina   Americas  1952       62.485   17876956  5911.315053
49  Argentina   Americas  1957       64.399   19610538  6856.856212
50  Argentina   Americas  1962       65.142   21283783  7133.166023
51  Argentina   Americas  1967       65.634   22934225  8052.953021
52  Argentina   Americas  1972       67.065   24779799  9443.038526

In [21]:
#Agupando dados (retornando quantos países há em cada continente)
df.groupby("Continente")["País"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [33]:
#Retornando a média da expectativa de vida de cada país
df.groupby("País")["Exp de vida"].mean()

País
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: Exp de vida, Length: 187, dtype: float64